
[Unit]

Description=Echobase PPP Service

[Service]

Type=simple
#Type=forking
#PIDFile=/var/run/echobase.pid

WorkingDirectory=/home/root/echobaseppp/
ExecStart=/usr/bin/python main.py -m service
KillMode=process
#RemainAfterExit=true

[Install]

WantedBy=multi-user.target
