
[Unit]

Description=Enable Modem Service


[Service]

Type=simple
#Type=forking
#PIDFile=/var/run/ledtest.pid

WorkingDirectory=/home/root/ModemScripts/
ExecStart=/usr/bin/python enablemodem.py -p kore
#ExecStart=/usr/bin/python enablemodem.py -p verizon
KillMode=process
#RemainAfterExit=true

[Install]

WantedBy=multi-user.target