
[Unit]

Description=Enable Modem Service


[Service]

Type=simple
#Type=forking
#PIDFile=/var/run/modemscripts.pid

WorkingDirectory=/home/root/modemscripts/
ExecStart=/usr/bin/python enablemodem.py -p kore
ExecStop=/usr/bin/poff
KillMode=process
#RemainAfterExit=true

[Install]

WantedBy=multi-user.target